__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.env
*.log
temp/
test/result/*
!test/result/.gitkeep
*.m4a
*.mp3
*.wav
config.yaml
*.iml
models/
